// app global css in SCSS form
body {
    background: white;
}

.q-card {
    border: 0px solid rgba(0, 0, 0, 0.12);
    padding: 12px;
}

// .left-box {
//     width :350px;
// }

.top-box {
    width :50vw;
}

.q-dialog__inner > div {
    border-radius: 15px;
    box-shadow: none;
}