// app global css in SCSS form
body {
    background: white;
    font-family: 'Nunito Sans', sans-serif;
}

.q-card {
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 12px;
}

.top-box {
    width : 50vmax;
}

.q-dialog__inner > div {
    box-shadow: none;
}

.wrapword {
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    word-break: break-all;
    white-space: normal;
}

.q-field--filled.q-field--readonly .q-field__control:before {
    opacity: 1;
    background: transparent;
    border-bottom-style: none;
}

.shade-color{
    background: #336699;
    color: white
}