<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="EndpointUrl" value="https://dev-time-stamp.documents.azure.com:443/"/>
		<add key="AuthorizationKey" value="gVpoXnUxYo2eYSPRDeeajoM8Rf3niQDUQQM0PHpDzwMdhzSXeAe7hayZNC4YeyhdnwsJvZjHJc0lZw3jfs0ZTQ=="/>
	</appSettings>
</configuration>